{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Round Abstract Art</title>
    <link rel="stylesheet" href="{% static 'css/round_abstract_art.css' %}">
</head>
<body>
    <header class="site-header">
        <div class="header-container">
          <div class="logo-container">
            <div class="logo-circles">
              <div class="circle circle-1"></div>
              <div class="circle circle-2"></div>
            </div>
          </div>
      
          <nav class="main-nav">
            <ul>
              <li>
                <a href="welcome.html">HOME</a> 
              </li>
              <li>
                <a href="city_views_on_top.html">CITY</a>
              </li>
              <li>
                <a href="sunset.html">SUNSET</a>
              </li>
              <li>
                <a href="contact.html">CONTACT</a>
              </li>
             
            </ul>
          </nav>

           <div class="contact-link">
            <a href="art_webster.html">+ARTWEBSTER</a>
          </div>
          
        </div>

        <div class="switch" id="switch"></div>

      </header>

      <div class="cursor-dot-outline"></div>
      <div class="cursor-dot"></div>

    <h2>NOBELL</h2><br>
    <p>Mobile Apps Dev</p>
    <div class="sphere" id="sphere"></div>

    <script src="{% static 'js/round_abstract_art.js' %}"></script>
</body>
</html>